<head>
  <% provide(:title, "Job Status") %>
</head>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Job status</h3>

    <p><%= @description %></p>
  </div>
  <div class="panel-body">
    <ul class='nav nav-tabs'>
      <li class='active'><a data-toggle='tab' href='#starts'>Starting</a></li>
      <li><a data-toggle='tab' href='#states-table'>States (table)</a></li>
      <li><a data-toggle='tab' href='#states-graph'>States (graph)</a></li>
      <li><a data-toggle='tab' href='#file-list'>Stats files</a></li>
    </ul>
    <div class='tab-content'>
      <div id='starts' class='tab-pane fade in active'>
        <p>Percentages exclude cancelled jobs</p>
        <table class='table table-striped'>
          <thead>
            <tr>
              <th>Queue</th>
              <th>Jobs</th>
              <th>Cancelled</th>
              <th>% queued</th>
              <th>% start within 1 minute</th>
              <th>% start within 2 minute</th>
              <th>% start within 20 minutes</th>
            </tr>
          </thead>
          <tbody>
            <% @job_queue_data.each do |jsd| %>
            <tr>
              <td><%= jsd[:queue] %></td>
              <td><%= jsd[:count] %></td>
              <td><%= jsd[:cancelled] %></td>
              <td><%= jsd[:pc_queued].round(2) %></td>
              <td><%= jsd[:pc_1_min].round(2) %></td>
              <td><%= jsd[:pc_2_min].round(2) %></td>
              <td><%= jsd[:pc_20_min].round(2) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div id='states-table' class='tab-pane fade'>
        <p>Percentages include cancelled jobs</p>
        <table class='table table-striped'>
          <thead>
            <tr>
              <th>Project</th>
              <th>Jobs</th>
              <th>Cancelled</th>
              <th>Passed</th>
              <th>Failed</th>
              <th>Errored</th>
            </tr>
          </thead>
          <tbody>
            <% @job_project_data.each do |jsd| %>
            <tr>
              <td><%= link_to jsd[:project], job_status_project_path(jsd[:project_id]) %></td>
              <td><%= jsd[:count] %></td>
              <td><%= jsd[:cancelled] %></td>
              <td><%= jsd[:passed] %> (<%= jsd[:passed_pc].round(2)%>%)</td>
              <td><%= jsd[:failed] %> (<%= jsd[:failed_pc].round(2)%>%)</td>
              <td><%= jsd[:errored] %> (<%= jsd[:errored_pc].round(2)%>%)</td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div id='states-graph' class='tab-pane fade'>
        <p>Percentages include cancelled jobs</p>
        <table class='table table-striped'>
          <thead>
            <tr>
              <th class='col-md-2'>Project</th>
              <th class='col-md-10'></th>
            </tr>
          </thead>
          <tbody>
            <% @job_project_data.each do |jsd| %>
            <tr>
              <td><%= jsd[:project] %></td>
              <td>
                <div class='progress'>
    <% puts jsd.inspect %>
                  <div class='progress-bar progress-bar-success' role='progressbar' style='width:<%= jsd[:passed_pc] %>%'><%= jsd[:passed_pc].round(0) %></div>
                  <div class='progress-bar progress-bar-danger' role='progressbar' style='width:<%= jsd[:failed_pc] %>%'><%= jsd[:failed_pc].round(0) %></div>
                  <div class='progress-bar progress-bar-info' role='progressbar' style='width:<%= jsd[:errored_pc] %>%'><%= jsd[:errored_pc].round(0) %></div>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div id='file-list' class='tab-pane fade'>
        <ul>
        <% Dir.glob("public/stats/*").map{ |f| f.remove('public/') }.each do |f| %>
          <li><%= link_to f, root_path << f %> </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
