<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= title %></h3>
  </div>
  <div class="panel-body">
    <p>Create a shell script to run your tests. These can be shared between multiple projects.</p>
    <p>Select the platform for your tests to run on, and fill in the exectution script.</p>
    <p>You can parameterise your scripts by adding execution variables. You have the opportunity
    to provide values for these variables when you set up a project, or when a batch is triggered.</p>
    
    <%= simple_form_for [:admin, @script], html: {class: "script_form"} do |f| %>
      <%= f.error_notification %>
      <%= f.association :target_id do %>
        <%= f.label :target_id, label: 'Target platform' %>
        <%= f.select :target_id, Target.all.map {|t| [t.name, t.id, {"data-img-src" => image_path("empty.png"), "data-img-label" => "<span class='large-icon'>#{icon(t.icon)}</span><br />#{t.name}"}] } %>
      <% end %>
      <%= f.input :name %>
      <%= f.input :template %>

      <%= render "fields/fields_edit_form", f: f, field_type: :execution_variables, model: @script %>

      <div class="form-actions">
        <%= f.submit nil, class: 'btn btn-primary' %>
        <%= link_to t('.cancel', default: t("helpers.links.cancel")), admin_scripts_path, class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>
