<%- model_class = Script -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th>Name</th>
    <th>Template</th>
    <th>Projects</th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @scripts.each do |script| %>
    <tr>
      <td><%= script.id %></td>
      <td><%= script.name %></td>
      <td><%= truncate(script.template, length: 50) %></td>
      <td>
        <% script.projects.each do |p| %>
          <span class="label label-project"><%= link_to p.id, project_url(p) -%></span>
        <% end %>
      </td>
      <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_admin_script_path(script), :class => 'btn btn-default btn-sm' %>
        <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    script_path(script),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_script_path,
            :class => 'btn btn-primary' %>
