<%= simple_form_for @batch do |f| %>
<div class="wizard" data-initialize="wizard" id="batchWizard">
  <div class="steps-container">
    <ul class="steps">
      <li data-step="1" data-name="campaign" class="active"><span class="badge">1</span>Batch Information<span class="chevron"></span></li>
    </ul>
  </div>
  <div class="actions">
    <button type="button" class="btn btn-default btn-prev"><span class="glyphicon glyphicon-arrow-left"></span>Prev</button>
    <button type="button" class="btn btn-default btn-next" data-last="Finish">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
  </div>
  <div class="step-content">
    <div class="step-pane active sample-pane alert" data-step="1">
      <h4>Batch Details</h4>
      <p><%= f.input :name %></p>
      <p><%= f.association :project %></p>
      <p><%= f.input :version %></p>
    </div>
  </div>

</div>

  <% if @batch.requires_build? %>
    <script type="text/javascript">
        $('#batchWizard').wizard('addSteps', 2, [
            {
                badge: '',
                label: 'Build information',
                pane: '<div>\
                        <h4>Builds</h4>\
                        <p>Please attach a build</p>\
                        <%= f.input :build %>\
                       </div>'
            }

        ])
    </script>
  <% end %>
  <% if @batch.execution_variables %>
    <script type="text/javascript">
      form = $('#batchWizard');
      form.wizard('addSteps', -1, [
          {
              label: 'Queue information',
              pane: '<div>' +
                      '<h4>Queues</h4>' +
                    '</div>'
          }
      ]);

      form.wizard('addSteps', -1, [
          {
              label: 'Jobs',
              pane: '<div>' +
                      '<h4>Jobs</h4>' +
                      '<p></p>' +
                     '</div>'
          }
      ])
    </script>
  <% end %>

    <script type="text/javascript">
        $(document).ready(function(){

            var wizard = $('#batchWizard').wizard();
            wizard.on('finished.fu.wizard', function(e, data){
                console.log('Submitting form');
                $('#new_batch').submit();
            });
        });
    </script>
<% end %>
