<%= simple_form_for @batch do |f| %>
  <div class="wizard" data-initialize="wizard" id="batchWizard">
    <div class="steps-container">
      <ul class="steps">
        <li data-step="1" data-name="batchInfo" class="active"><span class="badge">1</span>Batch Information<span class="chevron"></span></li>
      </ul>
    </div>
    <div class="actions">
      <button type="button" class="btn btn-default btn-prev"><span class="glyphicon glyphicon-arrow-left"></span>Prev</button>
      <button type="button" class="btn btn-default btn-next" data-last="Finish">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
      <input type="submit" class="btn btn-default btn-next hidden">
    </div>
    <div class="step-content">
      <div class="step-pane active sample-pane alert" data-step="1">
        <h4>Batch Details</h4>
        <p><%= f.input :name %></p>
        <p><%= f.association :project %></p>
        <p><%= f.input :version %></p>
      </div>
      <div class="step-pane sample-pane-alert" id="build">
        <h4>Build</h4>
        <p>Please attach a build</p>
        <%= render "fields/array", field_name: :build, f: f %>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $.fn.add_queue = function() {
      this.wizard('addSteps', -1, [
        {
          label: 'Queue information',
          pane: $('#queue').html()
        }
      ]);
      return this;
    };

    $.fn.add_jobs = function() {
      this.wizard('addSteps', -1, [
        {
          label: 'Jobs',
          pane: '<div id="jobs">' + $('#job').html() + '</div>'
        }
      ]);
      return this;
    };

    $.fn.add_tv_target = function() {
      this.wizard('addSteps', -1, [
        {
          label: 'Application details',
          pane: $('#tv_targets').html()
        }
      ])
    };

    $.fn.add_build = function() {
      this.wizard('addSteps', -1, [
        {
          badge: '',
          label: 'Build information'
        }
      ]);

      tabId = $.fn.get_tabs().indexOf('Build information')
      $($('div[data-step~="'+ (Number(tabId)+1) + '"]')[0]).attr('data-step', '')
      $('#build').attr('data-step', (Number(tabId)+1));
      return this;
    };

    $.fn.add_other = function() {
      this.wizard('addSteps', -1, [
        {
          label: 'Execution variables',
          pane: $('#other').html()
        }
      ])
    };

    $.fn.get_tabs = function() {
      var option_all = $("#batchWizard div ul li").map(function(){
        return $.trim($(this).text().substring(1));
      }).get();
      return option_all
    }

    $(document).ready(function(){
      var wizard = $('#batchWizard').wizard();
      wizard.on('finished.fu.wizard', function(e, data){
        $('input[type=submit]').click();
      });

      wizard.on('actionclicked.fu.wizard', function(evt, data){
        if (data['step'] == 1 && data['direction'] == 'next') {
          if ($('#batch_project_id option:selected').index()) {
            form = $('#batchWizard');

            queue_pos = $.fn.get_tabs().indexOf('Queue information');
            if (queue_pos > 0) {
              form.wizard('removeSteps', queue_pos+1, 1);
              form.add_queue();
            }

            jobs_pos = $.fn.get_tabs().indexOf('Jobs');
            if (jobs_pos > 0) {
              form.wizard('removeSteps', jobs_pos+1, 1);
              form.add_jobs()
            }

            $(document).ready(add_array_item);
          }
        }
      });
    });

    if ($('#other').length !== 0) {
      $('#batchWizard').add_other();
    }
  </script>

  <% if @batch.requires_build? %>
    <script type="text/javascript">
      $('#batchWizard').add_build()
    </script>
  <% end %>
  <% unless @batch.script.nil? %>
    <% unless @batch.script.target.fields.empty? %>
      <script type="text/javascript">
        $('#batchWizard').add_tv_target()
      </script>
    <% end %>
  <% end %>
  <% unless @batch.project_id.nil? %>
    <script type="text/javascript">
      form = $('#batchWizard');
      form.add_queue();
      form.add_jobs();
    </script>
  <% end %>
<% end %>

<div class="hidden" >
  <%= simple_form_for @batch  do |f| %>
    <%= f.fields_for :execution_variables, OpenStruct.new(@batch.execution_variables) do |execution_variables_builder| %>
      <% if @batch.execution_variables_required %>
        <%
          queues = @batch.execution_variables_required.select { |a| [:curated_queue, :queues].include? a.name }
          jobs = @batch.execution_variables_required.select { |a| [:tests_per_job, :jobs_per_queue, :tests].include? a.name }
          other = @batch.execution_variables_required - jobs - queues

          # Temporarily remove curated_queues and jobs_per_queue
          queues = queues.select { |a| a.name != :curated_queue }
          jobs = jobs.select { |a| a.name != :jobs_per_queue }
        %>
        <div class="step-pane sample-pane-alert" id="queue">
          <h4>Queue Options</h4>
          <% queues.each do |queue| %>
            <%= render "fields/#{queue.field_type}", field_name: queue.name, f: execution_variables_builder, attribute: @batch.execution_variables %>
          <% end %>
        </div>

        <div class="step-pane sample-pane-alert" id="job">
          <h4>Job Information</h4>
          <% jobs.each do |job| %>
            <%= render "fields/#{job.field_type}", field_name: job.name, f: execution_variables_builder, attribute: @batch.execution_variables %>
          <% end %>
        </div>

        <% unless other.empty? %>
          <div class="step-pane sample-pane-alert" id="other">
            <h4>Execution Variables</h4>
            <% other.each do |other_field| %>
              <%= render "fields/#{other_field.field_type}", field_name: other_field.name, f: execution_variables_builder, attribute: @batch.execution_variables %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <% unless @batch.script.nil? %>
        <% unless @batch.script.target.fields.empty? %>
          <%= f.fields_for :target_information, OpenStruct.new(@batch.target_information) do |builder| %>
          <div class="step-pane sample-pane-alert" id="tv_targets">
            <h4>Application details</h4>
            <% @batch.script.target.fields.each do |target_field| %>
              <%= render "fields/#{target_field.field_type}", field_name: target_field.name, f:builder%>
            <% end %>
          </div>
          <% end %>
        <% end %>
      <% end %>



    <% end %>
  <% end %>
</div>