<h3>Recent Test Batches</h3>

<%= hidden_field_tag :batch_index %>
<%= hidden_field_tag :page, @page %>

<div>
  <%= simple_form_for @filter_query, as: :search, url: batches_path, method: :get, html: { id: "batches_filter", class: 'form-search' } do |f| %>
    <%= f.input_field :project_ids, as: :select, placeholder: "Filter by project", label: false, multiple: true, collection: Project.joins(:batches).uniq %>
  <% end %>
</div>
            
</p>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Batch</th>
    <th>Version</th>
    <th>Status</th>
    <%= render partial: "shared/status_headings" %>
    <th>Submitted</th>
  </tr>
  <%= content_tag_for(:tr, @batches) do |batch| %>
    <td><%= batch.id -%></td>
    <td><%= link_to truncate(batch.name, length: 30), batch_path(batch) %></td>
    <td><code class="version-label"><%= batch.version %></code></td>
    <td>
      <span id=<%= "batch_#{batch.id}_state" %>>
        <%= status_badge(batch.state) %>
      </span>
    </td>
    <%=
        render partial: "shared/status_counts",
               locals: {
                   id:     batch.id,
                   type:   'batch',
                   queued: batch.jobs_queued,
                   running: batch.jobs_running,
                   passed: batch.jobs_passed,
                   failed: batch.jobs_failed,
                   errored: batch.jobs_errored }
    %>
    <td><%= batch.created_at.to_s(:short) %></td>
  <% end %>
</table>

<%= will_paginate @batches %>



