<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"> <%= image_tag "hive-20.png", alt: "Hive" %></a><a class="navbar-brand" href="/">HIVE</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= "active" if controller_name == "batches" %>"><%= link_to 'Batches', batches_path %></li>
        <li class="<%= "active" if controller_name == "queues" %>"><%= link_to 'Queues', queues_path %></li>
        <li class="<%= "active" if controller_name == "projects" %>"><%= link_to 'Projects', projects_path %></li>
        <li class="<%= "active" if controller_name == "execution_types" %>"><%= link_to 'Execution Types', admin_execution_types_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

          <li><%= link_to( current_user.uid, user_link(current_user)) -%></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if Chamber.env.sidebar? %>
              <% Chamber.env.sidebar.each do |row| %>
                  <% if row == 'divider' %>
            <li class="divider"></li>
                  <% else %>
            <li><a href="<%= row['link'] %>"><%= row['label'] %></a></li>
                  <% end %>
              <% end %>
            <li class="divider"></li>
            <% end %>
            <li><a href="http://bbc.github.io/hive-ci/">Learn more</a></li>
            <li><a href="https://github.com/bbc/hive-scheduler/issues">Raise an issue</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
