<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "HIVE" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'hive-20.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//www.fuelcdn.com/fuelux/3.11.0/css/fuelux.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//www.fuelcdn.com/fuelux/3.11.0/js/fuelux.min.js"></script>

  </head>
  <body class="fuelux">

  <%= render partial: "layouts/navigation" %>
  
  <div class="container-fluid">
    <%= bootstrap_flash %>
    <div class="row-fluid" >

        <% cache('stats_panel', :expires_in => 2.minutes ) do %>
          <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
            <ul class="nav nav-pills nav-stacked">
              <li class="dark"><a>Hive Status</a></li>
              <ul class="nav nav-pills nav-stacked">
                <% if @version.to_s != ''  %>
                <li class="light"><a href="https://github.com/bbc-test/hive-scheduler/releases/tag/<%=@version-%>">Version: <code class="pull-right"><%= @version -%></code></a></li>
                <% end %>
                <li class="light"><a>Running Jobs:<span class="badge badge-result badge-warning pull-right"><%= "#{@counts['running']}" %></span></a></li>
                <li class="light"><a>Queued Jobs:<span class="badge badge-result badge-info pull-right"><%= "#{@counts['queued']}" %></span></a></li>
              </ul>
              </li>
              <br />
              <li class="dark"><a>Recent Jobs</a></li>
              <ul class="nav nav-pills nav-stacked">
                <% @sidebar_projects.each do |p| %>
                <li class="light"><a title="<%= p.name %>"><%= truncate(p.name, length: 50) %>:<span class="badge badge-result badge-<%= { passed: 'success', failed: 'important', errored: 'inverse', running: 'warning', queued: 'info' }[p.latest_batch.state] %> pull-right"><%= p.latest_batch.state.to_s.first.upcase %></span></span></a>
                </li>
                <% end %>
              </ul>
            </ul>
          </div>
        <% end %>

        <div class="col-lg-10 col-sm-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="col-md-12">
      <hr />
      <p class="text-center">&copy; BBC HIVE <%= Date.today.year %></p>
    </div>
  </footer>

  </body>
</html>
